body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura do input */
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#success-message {
    display: none;
    color: green;
    text-align: center;
    margin-top: 20px;
}

#download-link {
    display: none;
    color: #007bff;
    text-decoration: none;
}
